<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/">return home</a>
<!--    <p th:text="'First word, ' + ${name} + '!'" />-->

    <p>Guess what, my favourite team is ... </p>

    <h2>Goalkeepers</h2>

    <ul>
        <li>Francesco Antonioli</li>
        <li>Francesco Toldo</li>
        <li>Giovanni Galli</li>
    </ul>

    <h2>Defenders</h2>

    <ul>
        <li>Franco Baresi</li>
        <li>Alessandro Costacurta</li>
        <li>Filippo Galli</li>
        <li>Marco Pullo</li>
        <li>Mauro Tassotti</li>
        <li>Rufo Verga</li>
        <li>Julio Grillo</li>
    </ul>

    <h2>Midfielders</h2>
    <ul>
        <li>Demetrio Albertini</li>
        <li>Carlo Ancelotti</li>
        <li>Frank Rijkaard</li>
        <li>Stefano Salvatori</li>
        <li>Giovanni Stroppa</li>
        <li>Ruud Gullit</li>
        <li>Diego Fuser</li>
    </ul>


    <h2>Attackers</h2>
    <ul>

        <li>Stefano Borgonovo</li>
        <li>Daniele Massaro</li>
        <li>Marco Simone</li>
        <li>Marco van Basten</li>
        <li>Giuseppe Galderisi</li>
    </ul>
</body>
</html>